ChefNodeCmdlet/Debug/
ChefNodeCmdlet/Release/
ChefNodeCmdlet/ChefNodeCmdlet/obj
ChefNodeCmdlet/TestChefNodeCmdlet/obj
ChefNodeCmdlet/TestNextActionCmdlet/obj
bin/ChefNodeCmdlet.dll
bin/ChefNodeCmdlet.dll-Help.xml
*.aps
*.ncb
*.suo
*.csproj.user
*.build.txt
